* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

:root {
    --primary-Bg : rgb(20, 20, 20);
    --primary-color: rgb(255, 255, 255);

}

body {
    background-color: var(--primary-Bg);
    color: var(--primary-color);
}

.container {
    scroll-snap-type: y mandatory;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.nav-menu {
    margin-top: 20px;
}

.nav-name {
    text-align: center;
    /* align-items: center; */
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 700;
}

.nav-item {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


@media( min-width: 500px) {
    .nav-menu {
        display: flex;
        justify-content:space-around;

        
    }

    .nav-name {
        font-size: 32px;
    }
}
